TELEGRAM_BOT_TOKEN=
GIGACHAT_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON=path/to/service_account.json
GOOGLE_DRIVE_ROOT_FOLDER_ID=
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxx
ADMIN_PASSWORD=
